<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('app.home') }}">GTM Doc</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if isAuthenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                        {% for account in accounts %}
                            <span class="dropdown-item text-white">{{ account.name }}</span>
                            {% for container in account.containers %}
                                <a class="dropdown-item text-white pl-5{% if container.selected %} active{% endif %}" href="{{ path('app.list_tags', { accountId: account.id, containerId: container.id }) }}">➤ {{ container.name }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('connect_google_revoke') }}">Revoke access</a>
                </li>
            {% endif %}

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app.data_privacy') }}">Privacy Policy</a>
            </li>
        </ul>
    </div>
</nav>
